<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.0"?>

<!--
-->

<plugin>




   <extension point="org.eclipse.emf.ecore.generated_package">
      <!-- @generated ontouml -->
      <package
            uri="http://menthor.net/"
            class="net.menthor.onto2.ontouml.OntoumlPackage"
            genModel="model/ontouml.xcore"/>
   </extension>

</plugin>
